<a href="https://colab.research.google.com/github/nguyenthanh222/phantichdulieu/blob/main/Lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
data= pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/babies.txt")

In [4]:
data

     bwt smoke
0      120   0
1      113   0
2      128   1
3      123   0
4      108   1
...        ...
1231   113   0
1232   128   0
1233   130   1
1234   125   0
1235   117   0

[1236 rows x 1 columns]

In [11]:
df_cohutthuoc=pd.DataFrame(data,columns=['bwt','smoke']).query('smoke==1')
df_khonghutthuoc=pd.DataFrame(data,columns=['bwt','smoke']).query('smoke==0')

In [14]:
df_cohutthuoc

Empty DataFrame
Columns: [bwt, smoke]
Index: []

In [15]:
df_cohutthuoc.describe()

       bwt  smoke
count  0.0    0.0
mean   NaN    NaN
std    NaN    NaN
min    NaN    NaN
25%    NaN    NaN
50%    NaN    NaN
75%    NaN    NaN
max    NaN    NaN

In [16]:
df_khonghutthuoc.describe()

       bwt  smoke
count  0.0    0.0
mean   NaN    NaN
std    NaN    NaN
min    NaN    NaN
25%    NaN    NaN
50%    NaN    NaN
75%    NaN    NaN
max    NaN    NaN

In [24]:
import numpy as np
import matplotlib.pyplot as plt
plt.plot=(df_cohutthuoc['bwt'], bins = 12)
plt.title=('histogram trong trường hợp bà mẹ có hút thuốc')
plt.xlabel('Cân nặng')
plt.show()
plt.bowplot(df_cohutthuoc['bwt'],sym-'*')
plt.show()

data.boxplot(by='smoke',columns='bwt')
plt.show()

SyntaxError: ignored