<a href="https://colab.research.google.com/github/nguyenthanh222/phantichdulieu/blob/main/Lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 9:

In [ ]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv")
dulieuxettuyen.head(2)

   STT   T1   L1   H1   S1   V1   X1   D1  ...   N6  GT  DT   KV   DH1   DH2  DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...  5.9   F NaN  2NT  3.25  3.25  4.5  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...  4.4   M NaN    1  6.00  4.00  3.5   C

[2 rows x 56 columns]

In [ ]:
dulieuxettuyen.tail(2)

    STT   T1   L1   H1   S1   V1   X1   D1  ...   N6  GT  DT   KV   DH1  DH2   DH3  KT
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...  5.9   M NaN    1  5.00  3.5  5.50   C
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...  5.8   M NaN  2NT  5.25  2.5  4.25   C

[2 rows x 56 columns]

In [ ]:
dulieuxettuyenKI = pd.DataFrame(dulieuxettuyen, columns = ['T1' , 'L1' , 'H1' , 'S1', 'V1' , 'X1' , 'D1' , 'N1'])
dulieuxettuyenKI.columns

Index(['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1'], dtype='object')

In [ ]:
dulieuxettuyenKI.tail(3)

     T1   L1   H1   S1   V1   X1   D1   N1
97  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5
98  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8
99  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4

In [ ]:
import pandas as pd
dlieutuyensinh_withoutHeader = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv", header = None)

NameError: ignored

In [ ]:
dltuyensinh_withoutHeader.head(5)